doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/mustache.js')
    != js('client')

  body
    div.container
      block top
        div.navbar
          div.navbar-inner
            a(href="http://podcastscience.fm").brand
              img(src="/images/PodcastScience.png")
  

      block content
        h1.page-header Ceci est la page admin
        div.well

          form#admin-form
            fieldset
              label Admin password
              input(type="password")#admin-password
              legend Options
              label Episode Number
              input(type="text-area")#episode-number
              label Episode Title
              input(type="text-area")#episode-title
              label 
                input(type="checkbox")#create-event
                | Creation de l'event SharyPic s'il n'existe pas.

            button(type="submit").btn#send-admin Envoyer
        div.well
          form
            legend Action
            label Admin password
            input(type="password")#admin-password2
            label 
              input(type="button" value="Reinitialisation de la chatroom")#reinitChatroom


 



