extends layout


block login-form
  div#login.well
    form.form-inline#loginform      
      h1 Bienvenue
      p Ceci est un test de chatroom
      input(type="text" name="login" placeholder="Nom d'utilisateur")#username 
      input(type="text" name="mail" placeholder="E-mail")#mail 
      input.btn(type="submit") Envoyer

block message
  div.span12.well#message-box(style="display: none;")
    div.row-fluid
      div.span2
        img(src="{{user.avatar}}")
      div.span10
        h3 {{user.username}}
        p {{message}}
        p {{h}}:{{minutes}}

block content
  div.content
    block login-form
    div.row-fluid
      div.span6.well
        div.well#live-draw-frame le iframe sera la
        div.well#twitterShare(name="twitterShare" style="margin-right:20px; margin-top: 10px; font-family: Hero; color: rgb(131,131,131); font-size: 18px;") Partager
            a.pull-right(href="https://twitter.com/intent/tweet?button_hashtag=psLive&text=Rejoignez+nous+sur+la+chatroom+et+suivez+@@podcastscience+en+direct.&url=http://live.podcastscience.fm" target="_blank" style="margin-left: 5px;")
              img(src="/images/twtr-nt.png")
            a.pull-right(href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flive.podcastscience.fm&p[summary]=Rejoignez+nous+sur+la+chatroom+et+suivez+le+live+podcastscience+en+direct" target="_blank" style="margin-left: 5px;")
              img(src="/images/fb-nt.png")
            a.pull-right(href="https://plus.google.com/share?url=http://live.podcastscience.fm" target="_blank" style="margin-left: 5px;")
              img(src="/images/gplus-nt.png")
        
      div.span4.well
        div#onChat
          div#main("height:100%;")
            div#messages.row-fluid
              block message
            form.form-inline#message-form
              input(type="text-area")#message-to-send
              button(type="submit").btn#send-message Envoyer

      div.span2.well
        div En ligne : 
        div#members-list






