!!!
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/mustache.js')
    != js('client')


  body
    div.container.well
      block top
        div.topbar
          div.hero-unit
            img(src="/images/PodcastScience.png")
            p La Science sans prise de tête
      block content
      block footer
        div.footer
