doctype html
html
  head
    meta(charset='utf-8')
    title [Live] PodcastScience
    meta(name='description', content='Live du balado qui fait aimer la science')
    meta(name='viewport', content='width=device-width initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='lightSlider/css/lightSlider.css')
    link(rel='stylesheet', href='css/jquery.atwho.min.css')
    //
       favicon 
    link(rel='apple-touch-icon', sizes='57x57', href='images/favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/favicons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/favicons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='images/favicons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='images/favicons//apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='images/favicons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='images/favicons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='images/favicons/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='images/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='images/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='images/favicons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='images/favicons/favicon-160x160.png', sizes='160x160')
    link(rel="image_src", href="http://www.podcastscience.fm/wp-content/uploads/2010/07/PodcastScience300.png?hc_location=ufi")
    meta(name='og:title', content="[Live] PodcastScience")
    meta(name='og:type', content="website")
    meta(name='og:url', content="http://live.podcastscience.fm/")
    meta(name='og:image', content="http://www.podcastscience.fm/wp-content/uploads/2010/07/PodcastScience300.png?hc_location=ufi")
    meta(name='og:description', content="Live du balado qui fait aimer la science")
    meta(name='msapplication-TileColor', content='#b91d47')
    meta(name='msapplication-TileImage', content='images/favicons/mstile-144x144.png')
    //*
      fonts 
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,700italic,400italic', rel='stylesheet', type='text/css')
    script(type='text/javascript')
    //<![CDATA[
      |(function(){
      |var c = document.documentElement.className;
      |c = c.replace(/no-js/, 'js');
      |document.documentElement.className = c;
      |})();
      //]]>
    //if lt IE 9
      script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js')

    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='lightSlider/js/jquery.lightSlider.min.js')
    script(src='//platform.vine.co/static/scripts/embed.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/mustache.js')
    script(src="/js/jquery.caret.min.js")
    script(src="/js/jquery.atwho.min.js")
    script(src="https://embed.twitch.tv/embed/v1.js")
    != js('client')
    != js('video')
  body.on
    #shadowing
    #videobox.box
      .inside_box
    #imagebox.box
    block bloc_header
    block menu
    noscript.warning
      p.wrap
        strong Sans le JavaScript activé ça va moins bien fonctionner.
        br
        | Activez le JavaScript pour utiliser la chatroom.
    block bloc_content
    script(src='js/script.js')
    

