!!!
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/mustache.js')
    != js('client')


  body
    div.container
      block top
        div.navbar
          div.navbar-inner
            a(href="http://podcastscience.fm").brand
              img(src="/images/PodcastScience.png")
            ul.nav
              li 
                a(href="http://podcastscience.fm") Home
              li 
                a(href="http://www.podcastscience.fm/liste-episodes-podcast-science/") Episodes
              li 
                a(href="http://www.podcastscience.fm/about/") Qui sommes nous?
              li 
                a(href="http://www.podcastscience.fm/contactez-nous/") Contact
              li 
                a(href="http://www.podcastscience.fm/blogroll-de-nos-podcasts-preferes/") Nos Podcasts favoris
              li 
                a(href="http://www.podcastscience.fm/livres/") Nos lectures
              li 
                a(href="http://www.podcastscience.fm/boutique/") Boutique


      block content
      block footer
        div.footer
