!!!
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/mustache.js')
    != js('client')


  body
    div.container
      block top
        div.navbar
          div.navbar-inner
            a(href="http://podcastscience.fm").brand
              img(src="/images/PodcastScience.png")
            //-ul.nav
              //-li 
                //-a
            div.pull-right
              iframe(src="http://static.infomaniak.ch/infomaniak/radio/html/podcastscience_player.html" height="100" width="400" scrolling="no" frameborder="0" allowtransparency="true")



      block content
      block footer
        div.footer
          a(href="http://bit.ly/PS-live96kMP3") Flux live mp3
          a(href="http://bit.ly/PS-live96kM3U") Flux live m3u  
          p#nb-connected




  

